apiVersion: networking.istio.io/v1beta1
kind: VirtualService
metadata:
  name: {{ .Release.Name }}-server
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ .Release.Name }}
    component: server
spec:
  hosts:
    - "*"
  gateways:
    - {{ .Values.network.gateway }}
  http:
    - match:
        - uri:
            prefix: /apps/{{ .Release.Namespace }}/workflow/{{ .Release.Name }}/server/
      rewrite:
        uri: /
      route:
        - destination:
            host: {{ .Release.Name }}-server
            port:
              number: 8080
      corsPolicy:
        allowOrigin:
          - "*"
        allowMethods:
          - GET
          - POST
          - DELETE
          - PUT
          - PATCH
        allowCredentials: false
        allowHeaders:
          - "*"
        maxAge: "24h"
