apiVersion: v1
data:
  config.json: |-
    {
      "k8sResourceServer": "/t9k/k8s-resource/server",
      "namespace": "{{ .Release.Namespace }}",
      "gpuExtendedResources": {{ .Values.cluster.extendedResources.gpu | toJson }},
      "appVersion": "{{ .Chart.AppVersion }}"
    }
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-config
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ .Release.Name }}
