apiVersion: v1
data:
  config.json: |-
    {
      "jobManagerServer": "/apps/{{ .Release.Namespace }}/job-manager/{{ .Release.Name }}/server",
      "k8sResourceServer": "/t9k/k8s-resource/server",
      "namespace": "{{ .Release.Namespace }}",
      "gpuExtendedResources": {{ .Values.cluster.extendedResources.gpu | toJson }},
      "appVersion": "{{ .Chart.AppVersion }}",
      "useT9kScheduler": {{ .Values.t9kScheduler.enabled }},
      "useKueue": {{ .Values.kueue.enabled }}
    }
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-web-config
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ .Release.Name }}
    component: web
